.spacer {
  flex: 1 1 auto;
}

.mobile-navbar {
  padding: 0 16px; /* Márgenes seguros para pantallas chicas */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 7vh;
}

.brand-name {
  font-weight: 500;
  font-size: 1.2rem;
}

.book-btn {
  border-radius: 14px; /* Bordes redondeados más modernos */
}